
.add-form, .added {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 15px;
    transform: translate(-50%, -50%);
    background-color: rgba(54, 55, 55, 0.9);
    border-radius: 10px;
    border: none;
    z-index: 101;
    width: 20%;
    color: #fff;

}

.add-form h2, .added h3 {
    text-align: center;
}

.add-form label {
    width: 100%;
}

.add-form label input {
    width: 100%;
    margin: 5px 0;
    border-radius: 3px;
    padding: 3px 5px;
}

.add-form label textarea {
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: 3px;
    padding: 3px 5px;
}

.add-form small {

    font-weight: normal;
}

.add-form button {
    width: 100%;
    margin-top: 10px;

    padding: 10px;
}

.added .btn {
    margin: 10px 0px;
}

