html {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
div#root {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
}
header {
    background-color: #6200EE;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    flex-basis: 100%;
    width: 100%;
    flex-grow: 1;


}

header h1 {
    font-size: 20px;
    font-weight: 200;
}

.search {
    display: flex;

}

.search input {
    flex-basis: 50%;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.search-container {
    display: flex;
    flex-direction: column;


}

.dropdown {
    width: 17%;
    background-color: #6200EE;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    position: absolute;
    top: 45px;
    left: 83%;
    padding: 15px;
    z-index: 100;

}

.dropdown:empty {
    border: none;
    display: none;

}

.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    z-index: 100;


}

