.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.road-popup {
    display: flex;
    flex-direction: column;

}

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    color: #fff;
}

.form-row label{
    width: 100%;
}

.form-row label input {
    width: 100%;
    margin: 5px 0;
    border-radius: 3px;
    padding: 3px 5px;
}

.form-row label textarea {
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: 3px;
    padding: 3px 5px;
}

